<li class="card">
    <h3 class="card-title">
        {title}

        <div class="icones">
            <button type="button" onclick="location.href='/edit/{id}'" formmethod="get" class="button">
                <img src="../../img/lapis.png" class="subicone" alt="lixeira">
            </button>
            <button type="button" onclick="location.href='/delete/{id}'" formmethod="get" class="button">
                <img src="../../img/lixeira.png" class="subicone" alt="lixeira">
            </button>
        </div>

    </h3>
    <p class="card-content">{details}</p>
</li>