html,
body {
  font-family: "Roboto", sans-serif;
}

.graybutton{
  height: 2rem;
  width: 40%;
  background-color: #d3d3d3;
  appearance: none;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(220, 217, 217, 0.6);
}

.yellowbutton{
  height: 2rem;
  width: 40%;
  background-color: #f7d736;
  appearance: none;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(220, 217, 217, 0.6);
}

.button {
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: auto;
  background-color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  appearance: none;
  cursor: pointer;
}

.corpo404{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img404{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

}

.centralizar{
  display: flex;
  justify-content: center;
}

.center{
  display: flex;
  justify-content: space-around;
}

.btn {
  position: relative;
  display: block;
  padding: 10px 15px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #f7d736;
  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.logo {
    height: 3rem;
    padding: 5px;
}

.icones{
  display: flex;
  flex-wrap: nowrap;
}

.subicone {
  max-width: 1rem;
  height: auto;
  margin-left: 0.5rem;
}

.subtitle{
  padding: 10px;
}

.appbar {
  background-color: #f7d736;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 8px 3px rgba(0,0,0,0.12), 0 3px 2px rgba(0,0,0,0.24);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: .5rem;
  margin: 2rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
  width: 30rem;
}

.title_edit{
  border-color: transparent;
  font-size: large;
  font-weight: bold;
  resize: none;
}

.form-card-title {
  max-width: 40%;
  border-color: transparent;
  font-size: large;
  font-weight: bold;
}

.autoresize {
  font-family: 'Roboto', sans-serif;
  border-color: transparent;
  padding-top: .5rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem 2rem;
}

.card {
  padding: .75rem;
  margin: .75rem;
  width: 12rem;
  height: 7rem;
  border-radius: 5px;
  background-color: #ead3a7;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.card h3 {
  font-size: large;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
}

.card-content {
  display: flex;
  font-family: 'Permanent Marker', cursive;
  height: 90%;
  justify-content: center;
  align-items: center;
}

.card-color-1 {
  background-color: #ead3a7;
}

.card-color-2 {
  background-color: #9de0f5;
}

.card-color-3 {
  background-color: #ef89ba;
}

.card-color-4 {
  background-color: #fae890;
}

.card-color-5 {
  background-color: #abe9c1;
}

.card-rotation-1 {
  transform: rotate(2deg);
}

.card-rotation-2 {
  transform: rotate(-2deg);
}

.card-rotation-3 {
  transform: rotate(3deg);
}

.card-rotation-4 {
  transform: rotate(-3deg);
}

.card-rotation-5 {
  transform: rotate(4deg);
}

.card-rotation-6 {
  transform: rotate(-4deg);
}

.card-rotation-7 {
  transform: rotate(2deg);
}

.card-rotation-8 {
  transform: rotate(-2deg);
}

.card-rotation-9 {
  transform: rotate(3deg);
}

.card-rotation-10 {
  transform: rotate(-3deg);
}

.card-rotation-11 {
  transform: rotate(4deg);
}